<%= fields_for @booking.user do |u| %>
	<%= render partial: 'user', locals: {u: u} %>
<% end %>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :status %>
	<%= f.select :status, Booking.statuses, {}, :class => "form-control" %>
</div>
<% if @booking.rental %>
<div class="form-group">
	<%= f.label :guests %>
	<%= f.select :guests, (@booking.rental.min_guests..@booking.rental.max_guests), {}, :class => "form-control" %>
</div>
<% else %>
	<%= f.label :guests %>
	<%= f.number_field :guests, min: 0, :class => "form-control" %>
<% end %>
<div class="form-group">
	<%= f.label :booking_amount %>
	<%= f.number_field :booking_amount, min: 0, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :booking_tax %>
	<%= f.number_field :booking_tax, min: 0, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :booking_total %>
	<%= f.number_field :booking_total, min: 0, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label :details %>
	<%= f.text_area :details, rows: 5, :class => "form-control" %>
</div>
