<%= u.hidden_field :site_id, value: @site.id %>
<div class="form-group">
	<%= u.label :email %>
	<%= u.text_field :email, :class => "form-control" %>
</div>
<div class="form-group">
	<%= u.label :first_name %>
	<%= u.text_field :first_name, :class => "form-control" %>
</div>
<div class="form-group">
	<%= u.label :last_name %>
	<%= u.text_field :last_name, :class => "form-control" %>
</div>
