<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>Edit booking for <%= @booking.user.full_name %></h1>
		</div>
		<%= form_for([:admin, @booking],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= render partial: 'form', locals: {f:f} %>
			<hr />
			<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-med") do %>
				<i class="icon-ok"></i>
				Save
			<% end %>
			<%= link_to(raw('<button type="button" class="btn  btn-outline-secondary btn-med btn-right">
				<i class="icon-cancel"></i>
		   	 	Cancel</button>'), admin_booking_path(@booking)) %>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@booking,[]) %>
	</div>
</div>
