<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1><%= @page.name %> Page</h1>
		</div>
		<%= render partial: 'page_nav' %>
		<div id="layout_view">
			<div class="page-header">
		  	<h2>Layout</h2>
			</div>
			<%= render partial: 'page_layout' %>
		</div>
		<div id="prop_view" style="display:none;">
			<div class="page-header">
		  	<h2>Properties</h2>
			</div>
			<%= object_table(@page) %>
			<%= link_to edit_admin_page_path(@page) do %>
				<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
			<% end %>
			&nbsp;&nbsp;<%= link_to admin_page_path(@page), method: :delete, data: { confirm: "Delete page?" } do %>
				<button type="submit" class="btn btn-danger"><icon class="icon-trash"></icon> Delete</button>
			<% end %>
		</div>
		<div id="containers_view" style="display:none;">
			<%= render partial: 'admin/containers_pages/index' %>
		</div>
	</div>
</div>


