<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>Edit Carousel Slide</h1>
		</div>
		<%= form_for([:admin, @carousel_slide],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= render partial: 'form', locals: {f:f} %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@carousel_slide,[@carousel_slide.carousel]) %>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<%= render partial: 'admin/images/image_select_table', locals: {f: f,content: @carousel_slide} %>


			<hr />
			<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-sm") do %>
				<i class="icon-ok"></i>
				Save
			<% end %>
			&nbsp;&nbsp;
			<%= link_to admin_carousel_slide_path(@carousel_slide) do %>
				<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>
