<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>New Carousel Slide<%= 's' if @new_from_category || @new_from_iage_group %></h1>
		</div>
		<%= form_for([:admin, @carousel_slide],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= f.hidden_field :carousel_id, value: @carousel.id %>
<% if @new_from_category %>
			<div class="form-group">
				<%= f.label :category_id %>
				<%= f.select :category_id, CategoriesImage.categories(@site.id).collect  { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
			</div>
<% elsif @new_from_image_group %>
			<div class="form-group">
				<%= f.label :image_group_id %>
				<%= f.select :image_group_id, ImageGroup.where(site_id: @site.id).order('name asc').collect  { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
			</div>
<% else %>
			<%= render partial: 'admin/images/image_select_table', locals: {f: f,content: @carousel_slide} %>
<% end %>
		  <hr/>
			<%= button_tag(type: 'submit', class:"btn btn-outline-secondary btn-sm") do %>
				<i class="icon-ok"></i>
				Create
			<% end %>
			&nbsp;&nbsp;
			<%= link_to admin_carousel_path(@carousel) do %>
				<button type="button" class="btn btn-outline-secondary btn-sm"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		<% end %>
	</div>
</div>
