<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1><%= @carousel_slide.name %></h1>
		</div>
		<%= object_table(@carousel_slide) %>
		<%= link_to edit_admin_carousel_slide_path(@carousel_slide), :"data-turbolinks"=>"false" do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_carousel_slide_path(@carousel_slide), method: :delete, data: { confirm: "Delete carousel_slide?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@carousel_slide,[@carousel_slide.carousel]) %>
	</div>
</div>
