<%
	start_str = @rental_booking.start_date.strftime("%Y-%m-%d") if @rental_booking.start_date
	end_str = @rental_booking.end_date.strftime("%Y-%m-%d") if @rental_booking.end_date
	currency = @rental_booking.rental.currency
	currency_icon = {}
	currency_icon['EUR'] = 'euro'
	currency_icon['USD'] = 'dollar'
	currency_icon['AUD'] = 'dollar'
	currency_icon['GBP'] = 'pound'
	currency_icon['JPY'] = 'yen'
	@currency_label = ""	
	if currency_icon[currency]
		@currency_label = "<icon class=\"icon icon-#{currency_icon[currency]}\"></icon>"
	else
		Money.locale_backend = :i18n
		@currency_label = Money.new(0, currency).format.gsub(/\.|0/,'')
 	end
	booking_instruction = @rental_booking.rental.rental_booking_instructions.where(locale: I18n.locale).first
%>

<booked name="booked" id="booked" value="<%= raw(@rental_booking.rental.calendar.booked) %>"></booked>
<minStart name="min-start" id="minStart" value="<%= 2.days.from_now.strftime("%Y-%m-%d") %>"></minStart>
<minDays name="min-days" id="minDays" value="<%= @rental_booking.rental.min_days %>"></minDays>
<% if @rental_booking.start_date && @rental_booking.end_date %>
<defaultDate name="min-days" id="defaultDate" value="['<%= start_str %>>,'<%= end_str %>'] "></defaultDate>
<% end %>
<calendarStatus name="calendarStatus" id="calendarStatus" value="<%= @rental_booking.rental.calendar.updated_at > 30.minutes.ago ? 'stale' : 'good' %>"></calendarStatus>	
<calendarId name="calendarId" id="calendarId" value="<%= @rental_booking.rental.calendar.id %>"></calendarId>
<session_expitation name="session_expitation" id="session_expitation" value="<%= 30.minutes.from_now %>"></session_expitation>

<h3><%= @rental_booking.rental.name %></h3>
<div id="checkingCalendar" class="booking-form" style="display: none;">
	<icon class="icon-spin3 animate-spin"></icon> <%= t('bookings.calendar_loading') %>
	<span id="errorMessage" class="error" style="display: none;"></span>
</div>
<div id="booking_error" style="padding-top: 30px;display: none;"></div>
<div id="booking_form" class="<%= booking_instruction.css_classes %>" style="display: none;">
<%= form_for(@rental_booking,:html => {:role => 'form', remote: true, :class => "formFor"}) do |f| %>
	<%= f.hidden_field :site_id, value: @site.id %>
	<%= f.hidden_field :rental_id %>
	<%= f.hidden_field :payment_method_id %> 
	<div class="form-group">
		<label><%= t('bookings.date_range') %></label>
		<%= date_field_tag :date_range %>
	</div>
	<%= f.hidden_field :start_date %>
	<%= f.hidden_field :end_date %>
	<div id="regular_text" style="display:none;"><%= raw(booking_instruction.regular_rate_instructions) %></div>
	<div id="discount_text" style="display:none;"><%= raw(booking_instruction.discount_rate_instructions) %></div>
	<div id="select_guests" class="form-group" style="display:none;">
		<label><%= t('bookings.guests') %></label>
		<%= f.select :guests, (@rental_booking.rental.min_guests..@rental_booking.rental.max_guests), {}, :class => "form-control" %>
	</div>
	<div id="booking_details" style="display:none;">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan="2"><%= t('bookings.details') %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= t('bookings.nights') %>:</td><td> <span id="booking_nights"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.base_rate') %>:</td><td> <%= raw(@currency_label) %><span id="booking_base_rate"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.extra_rate') %>:</td><td> <%= raw(@currency_label) %><span id="booking_extra_rate"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.amount') %>:</td><td> <%= raw(@currency_label) %><span id="booking_amount"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.tax') %>:</td><td> <%= raw(@currency_label) %><span id="booking_tax"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.total') %>:</td><td> <%= raw(@currency_label) %><span id="booking_total"></span></td>
				</tr>
				<tr>
					<td><%= t('bookings.deposit') %>:</td><td> <%= raw(@currency_label) %><span id="booking_deposit"></span></td>
				</tr>
			</tbody>
		</table>
		<%= raw(booking_instruction.booking_instructions) %>

<% 
show_forms = {}
payment_method_brands = []
@rental_booking.rental.payment_methods.where(locale: I18n.locale).each do |payment_method| 
	show_forms['email'] = 1 if payment_method.payment_type.show_email || payment_method.payment_type.require_email
	show_forms['user'] = 1 if payment_method.payment_type.show_user_names || payment_method.payment_type.require_user_names
	if payment_method.payment_type.show_primary_address || 
			payment_method.payment_type.require_billing_address || 
			payment_method.payment_type.require_shipping_address
		show_forms['primary'] = 1 
	end
	if payment_method.payment_type.payment_type =~ /card/
		show_forms['card'] = 1 
		brands = {}
		brands['id'] = payment_method.id
		brands['options'] = ""
		payment_method.payment_type.payment_gateway.brands.each do |key,val| 
			brands['options'] += "#{val}-#{key}," 
		end 
		brands['options'] = brands['options'].chop
		payment_method_brands << brands
	end
	show_forms['card_address'] = 1 if payment_method.payment_type.require_card_address
	show_forms['billing'] = 1 if payment_method.payment_type.require_billing_address
	show_forms['shipping'] = 1 if payment_method.payment_type.require_shipping_address
end
%>

<% payment_method_brands.each do |brands| %>
		<payment_brands id="payment_brands_<%= brands['id'] %>" value="<%= raw(brands['options']) %>"></payment_brands>
<% end %>

<% if show_forms['email'] %>
			<%= render partial: 'application/email_form' %>
<% end %>
	
<% if show_forms['user'] %>	
		<%= render partial: 'application/user_names' %>
<% end %>

<% if show_forms['primary'] %>	
		<div id="primary_address" style="display:none;">
			<%= fields_for UserAddress.new do |a| %>
				<%= render partial: 'application/addresses', locals: {a: a}	%>
			<% end %>
		</div>
<% end %>
		<div id="payment_methods" style="display:none;">
			<%= raw(booking_instruction.payment_instructions) %>
<% payment_methods = @rental_booking.rental.payment_methods.where(locale: I18n.locale).order('position asc')
payment_methods.each_with_index do |payment_method,position| %>
		<div id="accordion">
			<%= render partial: 'application/payment_method', locals: { payment_method_count: payment_methods.count, payment_method: payment_method, position: position } %>
		</div>
<% end %>
		<hr/>
<% if show_forms['card'] %>
		<div id="payment_card" style="display: none;">
			<%= fields_for PaymentCard.new do |card| %>
				<%= render partial: 'application/card_form', locals: {card: card} %>
			<% end %>
	<% if show_forms['card_address'] %>	
			<%= fields_for UserCardAddress.new do |a| %>
				<%= render partial: 'application/addresses', locals: {a: a}	%>
			<% end %>
	<% end %>
		</div>
<% end %>

		<%= fields_for @rental_booking do |f| %>
			<%= render partial: 'application/contact_form', locals: {f: f} %>
		<% end %>

		<hr/>
		<%= button_tag(id: "submit_booking_btn", type: 'button', :class => "btn btn-secondary btn-bookings", disabled: payment_methods.count > 1 ? true : false) do %>
				<icon class="icon-ok"></icon> <%= booking_instruction.booking_button_text %>
		<% end %>
	</div>
<% end %>
</div><!-- end booking_form -->

<!-- html modals -->
<%= raw(content_item.body) %>



