<div class="row">
  <div class="col-md-9">
    <div class="page-headerr">
      <h1>Image Batch</h1>
    </div>
    <%= object_table(@image_batch) %>
    <%= link_to edit_admin_image_batch_path(@image_batch) do %>
      <button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
    <% end %>
    &nbsp;&nbsp;<%= link_to admin_image_batch_path(@image_batch), method: :delete, data: { confirm: "Delete image batch?" } do %>
      <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= operations_menu(@image_batch,[]) %>
  </div>
</div>
<%= render 'admin/image_batch_images/index' %>
