<h3>Rental Payment Methods</h3>
<%= form_for([:admin, RentalPaymentMethod.new], :html => {:role => 'form', remote: true}) do |f| %>
 	<div class="form-group">
    <label>Assign Payment Method</label><br />
    <%= f.hidden_field :rental_id, value: @rental.id %>
    <%= f.select :payment_method_id, PaymentMethod.where('site_id = ? and id not in (select payment_method_id from rental_payment_methods where rental_id = ?)', @site.id, @rental.id).order('name asc').collect  { |c| [c.name, c.id] }, 
    	{prompt: 'Please Select'}, :class => "form-control" %>
  </div>
	<%= button_tag(type: 'submit', class:"btn btn-outline-secondary btn-med") do %>
   	<i class="icon-ok"></i>
   	Assign
  <% end %>
<% end %>
<hr/>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Type</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="rental_payment_method" data-sort-items-url="<%= sort_admin_rental_payment_methods_url %>">
<% @rental.rental_payment_methods.order('position asc').each do |rental_payment_method| %>
		<tr class="rental_payment_method" id="rental_payment_method_<%= rental_payment_method.id %>">
			<td><span class="handle"><i class="icon-up-hand"></i></span></td>		
      <td><%= rental_payment_method.payment_method.name %></td>
      <td><%= rental_payment_method.payment_method.payment_type.name %></td>
      <td>
      	<%= link_to raw('<i class="icon-trash"></i>'), admin_rental_payment_method_path(rental_payment_method), 
      		remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>      		
      </td>
    </tr>
<% end %>
		<%= raw('<tr><td colspan="4">No items for this list</td></tr>') unless @rental.rental_payment_methods.count > 0 %>
	</tbody>
</table>


