<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1><%= @article.name %></h1>
		</div>	
		<%= object_table(@article) %>
		<%= link_to edit_admin_article_path(@article) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_article_path(@article), method: :delete, data: { confirm: "Delete article?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@article,@page ? [@page] : []) %>
	</div>
</div>
<hr/>
<%= render partial: 'admin/article_posts/index' %>
<div id="categories">
	<%= render partial: 'admin/categories_contents/index' %>
</div>
