<div class="row">
	<div class="col-md-12">
	  <h2>Navigation Items</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Position</th>
					<th>Name</th>
					<th>Type</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="navigation_items" data-sort-items-url="<%= sort_admin_navigation_items_url %>">
<% @navigation_items.order('position asc').each do |navigation_item| %>
        <tr class="navigation_items" id="navigation_item_<%= navigation_item.id %>">
        	<td><span class="handle"><i class="icon-up-hand"></i></span></td>	
          <td><%= link_to raw(navigation_item.name), admin_navigation_item_path(navigation_item) %></td>
          <td><%= link_to navigation_item.item_type.capitalize.sub(/_/,' '), admin_navigation_item_path(navigation_item) %></td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_navigation_item_path(navigation_item) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_navigation_item_path(navigation_item) %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_navigation_item_path(navigation_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="6">No items for this list</td></tr>') unless @navigation_items.count > 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_navigation_item_path(navigation_id: @navigation.id) do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Navigation Item</button>
		<% end %>
	</div>
</div>
