<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>New <%= @navigation_item.item_type ? @navigation_item.item_type.capitalize.sub(/_/,' ') : nil %> Navigation Item</h1>
		</div>
<% if @navigation_item.item_type %>
		<%= form_for([:admin, @navigation_item],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= render partial: 'form', locals: {f:f} %>
			<hr />
			<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-med") do %>
				<i class="icon-ok"></i>
				Create
			<% end %>
			<%= link_to new_admin_navigation_item_path do %>
				<button type="button" class="btn  btn-outline-secondary btn-med btn-right"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		<% end %>
<% else %>
		<div class="bs-help">
			<h3>Navigation Item types</h3>
			<div><p><strong>Page link: </strong>Creates a menu item for a specific page such as Home, About, Blog, etc.</p>
			<%= link_to new_admin_navigation_item_path(navigation_id: @navigation.id, item_type: 'page_link') do %>
				<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-plus"></i> New Page Link Item</button>
			<% end %>
			</div>
			<hr/>
			<div><p><strong>Category link: </strong>Creates a menu item for a specific category.</p> 
				<%= link_to new_admin_navigation_item_path(navigation_id: @navigation.id, item_type: 'category_link') do %>
					<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-plus"></i> New Category Link Item</button>
				<% end %>
			</div>
			<hr/>
			<div><p><strong>External link or text: </strong>Creates a menu item for an external link or some text.</p> 
				<%= link_to new_admin_navigation_item_path(navigation_id: @navigation.id, item_type: 'external_link') do %>
					<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-plus"></i> New External Link Item</button>
				<% end %>
			</div>
			<hr/>
			<div><p><strong>Page link: </strong>Creates a custom dropdown menu item.</p> 
				<%= link_to new_admin_navigation_item_path(navigation_id: @navigation.id, item_type: 'dropdown') do %>
					<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-plus"></i> New Dropdown Item</button>
				<% end %>
			</div>
			<hr/>
			<%= link_to admin_navigation_path(@navigation_item.navigation) do %>
				<button type="button" class="btn  btn-outline-secondary btn-med btn-right"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		</div>
	<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@navigation_item,[@navigation]) %>
	</div>
</div>
