<h4>Addresses</h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @user.user_addresses.each do |address| %>
    <tr>
      <td><%= link_to address.name, admin_user_address_path(address) %></td>
      <td><%= link_to address.address1, admin_user_address_path(address) %></td>
      <td><%= link_to address.address2, admin_user_address_path(address) %></td>
      <td><%= link_to address.city, admin_user_address_path(address) %></td>
      <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_user_address_path(address) %></td>
      <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_user_address_path(address) %></td>
      <td><%= link_to raw('<i class="icon-trash"></i>'), admin_user_address_path(address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
    <%= raw('<tr><td colspan="5">No items for this list</td></tr>') unless @user.user_addresses.count > 0 %>
  </tbody>
</table>
<%= link_to new_admin_user_address_path(user_id: @user.id) do %>
  <button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Address</button>
<% end %>
