<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h2>Text Items</h2>
		</div>
		<table id="content_text_item_index" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Group</th>
					<th>Item</th>
					<th>Text</th>
					<th></th>
				</tr>
			</thead>
			<tbody data-sort-items-url="<%= sort_admin_content_group_text_items_url %>">
<% @contents.each do |group| %>
	<% group.content_items.each do |text_item| %>
        <tr class="content_group_items">
        	<td><%= link_to raw(group.name), edit_admin_content_group_text_item_path(text_item) %></td>
          <td><%= link_to raw(text_item.name), edit_admin_content_group_text_item_path(text_item) %></td>
          <td><%= raw(truncate_with_tags(text_item.body)) %></td> 
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_content_group_text_item_path(text_item) %></td>
        </tr>
  <% end %>
<% end %>
				<%= raw('<tr><td colspan="4">No content has been defined.</td></tr>') if @contents.count == 0 %>
			</tbody>
		</table>
	</div>
</div>
