<div class="row">
  <div id="image_crop" class="col-md-9">
    <div class="page-header align-center">
      <h1><icon class="icon-ok"></icon> Optimize <%= @image_optimization.image.name %></h1>
    </div>
    <%= image_tag "/image_previews/optimize_#{@image_optimization.image.id}.#{@image_optimization.file_extention}?#{rand(10000000)}", class: 'img-fluid' %>
    <%= file_size_div(@image_optimization.size,@image_optimization.width) %>
    <h6>Dimensions: Width <%= @image_optimization.width %>px, Height <%= @image_optimization.height %>px</h6>
    <h6>Quality: <%= @image_optimization.quality %></h6>
    <h6>Source: <%= @image_optimization.parent.preview_type.capitalize %></h6>
    <%= form_for([:admin, @image_optimization],:html => {:role => 'form', :class => "formFor"}) do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :source_file %>
      <%= f.hidden_field :content_type %>
      <%= f.hidden_field :size %>
      <%= f.hidden_field :preview_type %>
      <hr />
      <div class="form-group">
        <%= f.label :max_width %>
        <%= f.select :max_width, image_width_options(@image_optimization.max_width), {}, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :quality %>
        <%= f.select :quality, {'Maximum 100'=>'100','High 80'=>'80','Medium 65'=>'65','Low 30'=>'30'}, {}, :class => "form-control" %>
      </div>
      <%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-med") do %>
        <icon class="icon-ok"></icon>
        Optimize
      <% end %>
      <%= link_to(raw('<button type="button" class="btn  btn-outline-secondary btn-med btn-right">
        <i class="icon-cancel"></i>
          Cancel</button>'), admin_image_preview_path(@image_optimization.image)) %>
    <% end %>


  </div>
  <div class="col-md-3">
    <%= operations_menu(@image_optimization.becomes(Image)) %>
  </div>
</div>
