<h4>Optimized Image</h4>
<%= image_tag "/image_previews/optimize_#{@image_optimization.image.id}.#{@image_optimization.file_extention}?#{rand(10000000)}", class: 'img-fluid' %>
<%= file_size_div(@image_optimization.size,@image_optimization.width) %>
<h6>Dimensions: Width <%= @image_optimization.width %>px, Height <%= @image_optimization.height %>px</h6>
<h6>Quality: <%= @image_optimization.quality %></h6>
<h6>Source: <%= @image_optimization.parent.preview_type.capitalize %></h6>
<div class="image-buttons">
  <%= link_to edit_admin_image_optimization_path(@image_optimization) do %>
    <button type="button" class="btn btn-outline-secondary btn-sm">
      <icon class="icon-ok"></icon> Optimize Again
    </button>
  <% end %>
</div>
