<% if @article_post.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
		<%= pluralize(@article_post.errors.count, "error") %> prohibited this page from being saved:
	</div>
  <ul>
  <% @article_post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :admin_id, value: @admin.id %>
<%= f.hidden_field :content_type %>
<%= f.hidden_field :content_id %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>

<%= render partial: "admin/content_forms/form_#{@article_post.content_type}", locals: {f: f,content_item: @article_post} %>
