<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>New <%= @article_post.content_type.gsub(/_/,' ').capitalize if @article_post.content_type %> Post</h1>
		</div>
<%= form_for([:admin, @article_post],:html => {:role => 'form', :class => "formFor"}) do |f| %>

<% if @article_post.content_type %>
		<%= render partial: 'form', locals: {f:f} %>
		<hr />
<% else %>
		<div class="bs-help">
			<h3>Post types</h3>
			<%= render partial: "admin/content_forms/content_types", locals: {obj_class: 'article_post',content_obj: @article_post.article} %>

<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@article_post,[@article_post.article]) %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
<% if @article_post.content_type && @article_post.content_type == 'image' %>
		<%= render partial: 'admin/images/image_select_table', locals: {f: f,content: @article_post} %>
<% end %>
		<hr/>
		<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-sm") do %>
				<i class="icon-ok"></i>
				Create
		<% end %>
			&nbsp;&nbsp;
		<%= link_to admin_article_path(@article) do %>
				<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-cancel"></i> Cancel</button>
		<% end %>
	</div>
</div>
<% end %>
