<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Content Groups</h1>
		</div>
		<table id="content_group_index" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
					<th></th>
					<th>Clone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
<% @content_groups.order('name asc').each do |content_group| %>
        <tr>
          <td><%= link_to raw(content_group.name), admin_content_group_path(content_group) %></td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_content_group_path(content_group) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_content_group_path(content_group) %></td>
          <td><%= link_to raw('<i class="icon-docs"></i>'), new_admin_content_group_clone_path(content_group_id: content_group.id), method: :get %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_content_group_path(content_group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="6">No content has been defined.</td></tr>') if @content_groups.count == 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_content_group_path do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Content Group</button>
		<% end %>
	</div>
</div>
