<% if @image_group.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
		<%= pluralize(@image_group.errors.count, "error") %> prohibited this page from being saved:
	</div>
  <ul>
  <% @image_group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :site_id %>

<div class="form-group">
  <%= f.label :name %>
  <div class="input-group mb-3">
  <%= f.text_field :name, value: @image_group.name ? @image_group.clear_group : '', :class => "form-control" %>
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroup-sizing-default">Group</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="css_classes"><%= f.label :css_classes, "CSS space separated class names" %></label>
  <%= f.text_field :css_classes, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :image_group_type %>
  <%= f.select :image_group_type, {'Fixed Grid'=>'image_grid_fixed','Masonry Grid'=>'image_grid_masonry'}, {}, :class => "form-control" %>
</div>

