<% if @medium.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
		<%= pluralize(@medium.errors.count, "error") %> prohibited this page from being saved:
	</div>
  <ul>
  <% @medium.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :site_id, value: @site.id %>
<%= f.hidden_field :type, value: 'Video' %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :caption %>
	<%= f.text_field :caption, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :copyright_year %>
	<%= f.select :copyright_year, options = (Time.now.year - 20)..(Time.now.year + 1), {selected: Time.now.year}, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :copyright_by %>
	<%= f.text_field :copyright_by, :class => "form-control" %>
</div>
<div class="form-group">
  <label>Link or embedded code</label>
  <div class="form-control-border">
    <%= f.text_area :description, :class => "form-control codemirror-html" %>
  </div>
</div>

