<% if @medi.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
		<%= pluralize(@medi.errors.count, "error") %> prohibited this page from being saved:
	</div>
  <ul>
  <% @medi.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :type %>
	<%= f.text_field :type, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :caption %>
	<%= f.text_field :caption, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :copyright_year %>
	<%= f.select :copyright_year,{'Yes'=>'1','No'=>'0'}, {}, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :copyright_by %>
	<%= f.text_field :copyright_by, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, 'data-provider': :summernote, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :image_id %>
	<%= f.select :image_id, Image.order('name asc').collect { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :image_variant %>
	<%= f.text_field :image_variant, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :site_id %>
	<%= f.select :site_id, Site.order('name asc').collect { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
</div>
