<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Videos</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
<% @media.each do |medium| %>
        <tr>
        	<td>
  <% if medium.image && medium.image.image && medium.image.image.attached? %>
            <%= link_to image_tag(medium.image.image.variant(resize: "100x100")), admin_medium_path(medium) %>
  <% else %>
            <div style="max-width: 100px;margin: 2px;padding: 5px, 10px, 5px, 10px;border: solid 1px #000;background-color: #f2f2f2;">No image</div>
  <% end %>
          </td>
          <td><%= link_to raw(medium.name), admin_medium_path(medium) %></td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_medium_path(medium) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_medium_path(medium), "data-turbolinks"=>"false" %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_medium_path(medium), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="5">No items to list</td></tr>') unless @media.count > 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_medium_path do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Video</button>
		<% end %>
	</div>
</div>
