<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1>Color Pallette <%= @palette.name %></h1>
		</div>	
		<%= link_to edit_admin_palette_path(@palette) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_palette_path(@palette), method: :delete, data: { confirm: "Delete palette?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
		<hr/>
		<h3>Colors</h3>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
					<th></th>
<% if @admin.role == 1 %>
					<th></th>
<% end %>		
				</tr>
			</thead>
			<tbody>
<% @palette.palette_colors.each do |color| %>
				<tr>
	        <td><%= color.name %></td>
	        <td>#<%= color.value %></td>
		  		<td style="border:solid 1px #000;min-width:150px;background-color:#<%= color.value %>;"></td>
	<% if @admin.role == 1 %>
	        <td>
						<%= link_to raw('<i class="icon-trash"></i>'), 
						admin_palette_color_path(color), method: :delete, data: { confirm: 'Are you sure?' } %>
	        </td>
	<% end %>		
	  		</tr>
<% end %>
			</tbody>
		</table>  
<% if @admin.role == 1 %>
		<%= link_to new_admin_palette_color_path(palette_id: @palette.id) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> New Color</button>
		<% end %>
<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@palette) if @admin.role == 1 %>
	</div>
</div>
