<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1><%= @admin_obj.full_name %></h1>
		</div>	
		<%= object_table(@admin_obj) %>
		<%= link_to edit_admin_admin_path(@admin_obj) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_admin_path(@admin_obj), method: :delete, data: { confirm: "Delete admin?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@admin_obj) %>
	</div>
</div>
<% if @admin.role == 1 %>
<div class="row">
	<div class="col-md-12">
		<h2>Sites</h2>
		<div id="admin_sites">
			<%= render partial: 'admin/admins_sites/index' %>
		</div>
	</div>
</div>
<% end %>