<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1><%= @payment_method.name %></h1>
		</div>	
		<%= object_table(@payment_method) %>
		<%= link_to edit_admin_payment_method_path(@payment_method) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_payment_method_path(@payment_method), method: :delete, data: { confirm: "Delete payment_method?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@payment_method) %>
	</div>
</div>
