<div class="row">
  <div class="col-md-9">
    <div class="page-header">
      <h1>Upload Image</h1>
    </div>
    <%= form_for([:admin, @image_upload],:html => {multipart: true, :role => 'form', :class => "formFor"}) do |f| %>
      <%= render partial: 'form', locals: {f:f} %>
      <hr />
      <%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-med") do %>
        <icon class="icon-upload"></icon>
        Upload
      <% end %>
      <%= link_to(raw('<button type="button" class="btn  btn-outline-secondary btn-med btn-right">
        <i class="icon-cancel"></i>
          Cancel</button>'), admin_image_path(@image)) %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= operations_menu(@image) %>
  </div>
</div>
