<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Mail Templates</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Recipient Type</th>
					<th>Template Type</th>
					<th>Language</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
<% @mail_templates.each do |template| %>
        <tr>
          <td><%= link_to template.name, admin_mail_template_path(template) %></td>
          <td><%= link_to template.recipient_type, admin_mail_template_path(template) %></td>
          <td><%= link_to template.template_type, admin_mail_template_path(template) %></td>
          <td><%= link_to template.locale, admin_mail_template_path(template) %></td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_mail_template_path(template) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_mail_template_path(template) %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_mail_template_path(template), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="7">No application defined.</td></tr>') if @mail_templates.count == 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_mail_template_path do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Mail Template</button>
		<% end %>
	</div>
</div>