<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>New Image Group Item</h1>
		</div>
		<%= form_for([:admin, @image_group_item],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= f.hidden_field :image_group_id %>
<% if @new_from_category %>
			<div class="form-group">
				<%= f.label :category_id %>
				<%= f.select :category_id, CategoriesImage.categories(@site.id).collect  { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control" %>
			</div>
<% else %>
			<%= render partial: 'admin/images/image_select_table', locals: {f: f,content: @image_group_item } %>
<% end %>
		  <hr/>
			<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-sm") do %>
				<i class="icon-ok"></i>
				Create
			<% end %>
			&nbsp;&nbsp;
			<%= link_to admin_image_group_path(@image_group_item.image_group) do %>
				<button type="button" class="btn  btn-outline-secondary btn-sm"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@image_group_item,[@image_group_item.image_group]) %>
	</div>
</div>
