<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1><%= @theme.name %> Theme</h1>
		</div>
		<%= render partial: 'theme_nav' %>
		<div id="theme_view">
			<%= render partial: 'properties' %>
		</div>
		<div id="color_view" style="display:none;">
			<%= render partial: 'admin/theme_colors/index' %>
		</div>
		<div id="class_view" style="display:none;">
			<%= render partial: 'classes' %>
		</div>
		<div id="work_view" style="display:none;">
			<%-# render partial: 'scss_workspace' %>
		</div>
		<div id="prod_view" style="display:none;">
			<%= render partial: 'scss_production' %>
		</div>
	</div>
</div>

<%= render partial: 'scss_error_modal' %>
