<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Containers</h1>
		</div>
		<table id="container_index" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>CSS</th>
					<th></th>
					<th></th>
					<th>Clone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
<% @containers.each do |container| %>
        <tr>
          <td><%= link_to raw(container.name), admin_container_path(container) %></td>
          <td><%= link_to raw(container.container_type), admin_container_path(container) %></td>
          <td><%= link_to raw(container.css_classes), admin_container_path(container) %></td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_container_path(container) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_container_path(container) %></td>
          <td><%= link_to raw('<i class="icon-docs"></i>'), new_admin_container_clone_path(container_id: container.id), method: :get %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_container_path(container), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="7">No items for this list</td></tr>') unless @containers.count > 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_container_path do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Container</button>
		<% end %>
	</div>
</div>
