<div class="row">
	<div class="col">
		<hr/>
		<h4>Select Image:</h4>
	</div>
</div>
<div class="row">
	<%  @site.images.order('name asc').each do |image| %>
	<% if image.image.attached? %>
	<div class="col-md">
		<div class="card select-image<%= ' image-selected' if selected_id && image.id == selected_id %>" id="image_select_<%= image.id %>" style="width: 150px;">
		  <%= image_tag url_for(image.image.variant(resize: "150x150")), :class => "card-img-top" %>
		  <div class="card-body">
		    <h5 class="card-title" id="card_title_<%= image.id %>"><%= image.name %></h5>
		    <button type="button" id="image_button_<%= image.id %>" class="btn btn-outline-secondary btn-sm image-select">Select</button>
		  </div>
		</div>
	</div>
	<% end %>
<% end %>
</div>