<div class="row">
  <div class="col">
    <hr/>
    <h4>Select Image:</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <table id="image_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th></th>
          <th>Name</th>
          <th>Category</th>
          <th>Group</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
<%
images = @site.images.order('name asc')
images.order('name asc').each do |image|
  next unless image.image.attached?
  image_group = image.image_group_items.any? ? image.image_group_items.first.image_group.name : 'n/a'
  image_category = image.categories.any? ? image.categories.first.name : 'n/a'
%>
        <tr class="select-image<%= ' image-selected' if selected_id && image.id == selected_id %>" id="image_select_<%= image.id %>">
          <td><%= image.id %></td>
          <td>
            <%= image_tag(image.image.variant(resize: "100x100")) %>
          </td>
          <td><%= image.name %></td>
          <td><%= image_category %></td>
          <td><%= image_group %></td>
          <td>
            <button type="button" id="image_button_<%= image.id %>" class="btn btn-outline-secondary btn-sm">Select</button>
          </td>
        </tr>
<% end %>
      <%= raw('<tr><td colspan="5">No images published.</td></tr>') if images.count == 0 %>
      </tbody>
    </table>
