<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1><%= @image.name %></h1>
		</div>
		<h3>Status: Published</h3>
		<div class="image-original">
			<%= image_tag url_for(@image.image), class: 'img-fluid' %>
		</div>
		<%= optimize_div(@image) %>
		<div class="image-buttons">
			<%= link_to new_admin_image_preview_path(image_id: @image.id) do %>
			<button type="button" class="btn btn-outline-secondary btn-sm">
				<icon class="icon-upload"></icon> Upload/Replace Image
			</button>
			<% end %>
<% if @image.image.attached? && @image.image_previews.any? %>
      <%= link_to admin_image_preview_path(@image) do %>
      	<button type="button" class="btn btn-outline-secondary btn-sm">
      		<icon class="icon-cog"></icon> Continue Processing New Version
      	</button>
      <% end %>
<% end %>
		</div>
		<%= object_table(@image) %>
		<%= link_to edit_admin_image_path(@image) do %>
			<button type="button" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_image_path(@image), method: :delete, data: { confirm: "Delete image?" } do %>
			<button type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@image) %>
	</div>
</div>
<div id="categories">
	<%= render partial: 'admin/categories_images/index' %>
</div>
