<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h2>Columns</h2>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Position</th>
					<th>Type</th>
					<th>CSS</th>
					<th>Content</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="row_columns" data-sort-items-url="<%= sort_admin_row_columns_url %>">
<% @row_columns.where(container_row_id: @container_row.id).order('position asc').each do |row_column| %>
				<tr class="row_columns" id="row_column_<%= row_column.id %>">
        	<td><span class="handle"><i class="icon-up-hand"></i></span></td>	
          <td><%= link_to row_column.content_type.sub(/_/,' '), admin_row_column_path(row_column) %></td>
          <td><%= link_to raw(row_column.css_classes), admin_row_column_path(row_column) %></td>
          <td>
	<%
content = row_column.content.name if row_column.content_type == 'content_group' && row_column.content
content = row_column.category.name if row_column.content_type == 'category' && row_column.category
content = row_column.image_group.name if row_column.content_type == 'image_group' && row_column.image_group
content = row_column.carousel.name if row_column.content_type == 'carousel' && row_column.carousel
content = row_column.list_group.name if row_column.content_type == 'list_group' && row_column.list_group
content = 'empty' unless content
	%>
          	<%= link_to raw(content), admin_row_column_path(row_column) %>
          </td>
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_row_column_path(row_column) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_row_column_path(row_column) %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_row_column_path(row_column), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="7">No columns defined for this row</td></tr>') unless @row_columns.count > 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_row_column_path(container_row_id: @container_row.id) do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Column</button>
		<% end %>
	</div>
</div>



