<div class="row">
	<div class="col-md-9">
		<div class="page-header">
		  <h1>New <%= @row_column.content_type.gsub(/_/,' ').capitalize if @row_column.content_type %> Column</h1>
		</div>

<% if @row_column.content_type %>
		<%= form_for([:admin, @row_column],:html => {:role => 'form', :class => "formFor"}) do |f| %>
			<%= render partial: 'form', locals: {f:f} %>
			<hr />
			<%= button_tag(type: 'submit', class:"btn  btn-outline-secondary btn-med") do %>
				<i class="icon-ok"></i>
				Create
			<% end %>
			&nbsp;&nbsp;
			<%= link_to admin_container_row_path(@container_row) do %>
				<button type="button" class="btn  btn-outline-secondary btn-med btn-right"><i class="icon-cancel"></i> Cancel</button>
			<% end %>
		<% end %>
<% else %>
		<div class="bs-help">
			<h3>Column types</h3>
			<div><strong>Content: </strong>Assigns a Content Group to the column.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'content_group') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Content Group Column</button>
				<% end %>
			</div>
			<hr/>
			<div><strong>Caregory: </strong>Assigns a Category to the column.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'category') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Category Column</button>
				<% end %>
		 	</div>
		 	<hr/>
			<div><strong>Fixed Image Grid: </strong>Assigns an Image Group to the column to create an image grid with fixed spaces.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'image_grid_fixed') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Fixed Image Grid Column</button>
				<% end %>
		 	</div>
		 	<hr/>
			<div><strong>Masonry Image Grid: </strong>Assigns an Image Group to the column to create and image grid with fixed heights and fluid widths.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'image_grid_masonry') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Masonry Image Grid Column</button>
				<% end %>
		 	</div>
		 	<hr/>
			<div><strong>Carousel: </strong>Assigns an Carousel to the column.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'carousel') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Carousel Column</button>
				<% end %>
		 	</div>
		 	<hr/>
			<div><strong>List Group: </strong>Assigns a List Group to the column.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'list_group') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New List Group Column</button>
				<% end %>
		 	</div>
		 	<hr />
			<div><strong>Articles & Blogs: </strong>Creates a landing column for Articles & Blogs.
				<br/><br/>
				<%= link_to new_admin_row_column_path(container_row_id: @container_row.id, content_type: 'placeholder') do %>
					<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Articles & Blogs Column</button>
				<% end %>
		 	</div>
		</div>
	 	<hr/>
		<%= link_to admin_container_row_path(@row_column.container_row) do %>
			<button type="button" class="btn  btn-outline-secondary btn-med btn-right"><i class="icon-cancel"></i> Cancel</button>
		<% end %>
<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@row_column,[@row_column.container_row.container,@row_column.container_row]) %>
	</div>
</div>
