<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1>Watermark <%= @watermark.name %></h1>
		</div>
<% if @watermark.image.attached? %>
		<div class="watermark-original">
			<%= image_tag url_for(@watermark.image), class: 'img-fluid' %>
		</div>
<% end %>
		<%= object_table(@watermark) %>
		<%= link_to edit_admin_watermark_path(@watermark) do %>
			<button type="button" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_watermark_path(@watermark), method: :delete, data: { confirm: "Delete watermark?" } do %>
			<button type="button" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@watermark,[]) %>
	</div>
</div>

