<div class="form-group">
	<%= a.label :phone %> (<span id="country_phone_code"></span>) 
	<%= a.text_field :phone, :class => "form-control" %>
</div>
<div class="form-group">
	<%= a.label :address1 %>
	<%= a.text_field :address1, :class => "form-control" %>
</div>
<div class="form-group">
	<%= a.label :address2 %>
	<%= a.text_field :address2, :class => "form-control" %>
</div>
<div class="form-group">
	<%= a.label :city %>
	<%= a.text_field :city, :class => "form-control" %>
</div>
<div class="form-group">
	<%= a.label :post_code %>
	<%= a.text_field :post_code, :class => "form-control" %>
</div>
<div class="form-group">
	<%= t('bookings.country') %>
	<%= a.select :country_id, Country.order('name asc').collect { |c| [c.name, c.id] }, {prompt: 'Please Select'}, :class => "form-control country" %>
</div>
<div id="states_div" class="form-group" style="display:none;">
	<%= a.label :state_id %>
	<%= a.select :state_id, [], {prompt: 'Please Select'}, :class => "form-control state-select" %>
</div>		