<% carousel = obj.carousel %>
<style>

.carousel {
  width: 100%;
}

.gallery-controls a:hover {
  background-color: transparent;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

.slide-box a {
  align-self: flex-start;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2px;
  padding-left: 2px;
}

.slide-box a:hover {
  cursor: pointer;
  background-color: transparent;
}

.slide-box img {
  width: 100%;
  height: 100%;
}

.modal-body img {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box a {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box a {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box a {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

</style>

<div id="image_gallery_<%= carousel.id %>" class="carousel slide">
  <div class="controls-top gallery-controls" style="font-size: 24px;text-align: center;padding: 10px;" >
    <span style="padding-right: 10px;margin-top:2px;" class="gallery-name"><%= carousel.name %></span>
    <a class="black-text" href="#image_gallery_<%= carousel.id %>" data-slide="prev"><i class="fas fa-angle-left" style="color: #000;"></i></a>
    <a class="black-text" href="#image_gallery_<%= carousel.id %>" data-slide="next"><i class="fas fa-angle-right" style="color: #000;"></i></a>
  </div>
  <div id="image_gallery_inner_<%= carousel.id %>" class="carousel-inner" role="listbox">
  </div>
</div>

<%
gallery = {}
gallery['id'] = carousel.id
gallery['interval'] = carousel.interval
gallery['with_pause'] = carousel.with_pause ? 'hover' : 'false'
gallery['with_ride'] = carousel.with_ride ? 'carousel' : 'false'
gallery['with_captions'] = carousel.with_captions
gallery['with_copyrights'] = carousel.with_copyrights
gallery['slides'] = []
carousel.carousel_slides.order('position asc').each_with_index do |carousel_slide|
  next unless carousel_slide.image && carousel_slide.image.image.attached?
  slide = {}
  slide['id'] = carousel_slide.id
  slide['name'] = carousel_slide.name
  slide['caption'] = carousel_slide.caption
  slide['copyright'] = raw(copyright(carousel_slide.image))
  slide['thumb_url'] = url_for(carousel_slide.image.image.variant(resize: "768x768"))
  gallery['slides'] << slide
  if carousel_slide.image && carousel_slide.image.image.attached? %>
<%= raw(src_sets(carousel_slide.image,carousel_slide).sub(/img/,"imageurls id=\"imageurls_#{carousel_slide.id}\"")) %>
<% end
end
%>

<gallery id="gallery_<%= carousel.id %>" value='<%= (gallery.to_json).html_safe %>' />

<% unless @gallery_modal_exists %>
<!-- image modal -->
<div id="gallery_modal" class="modal gallery-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="slide_title" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="slide_image" srcset="" src="" />
      </div>
      <div class="modal-footer">
        <p class="mr-auto" id="slide_caption"></p>
        <p id="slide_copyright"></p>
      </div>
    </div>
  </div>
</div>
<% end
@gallery_modal_exists = true %>

