<% if @rental_booking_instruction.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
		<%= pluralize(@rental_booking_instruction.errors.count, "error") %> prohibited this page from being saved:
	</div>
  <ul>
  <% @rental_booking_instruction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :rental_id %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :css_classes %>
	<%= f.text_field :css_classes, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :locale %>
	<%= f.select :locale, Site.locales, {prompt: 'Please Select'},  :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :regular_rate_instructions %>
	<%= f.text_field :regular_rate_instructions, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :discount_rate_instructions %>
	<%= f.text_field :discount_rate_instructions, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :booking_instructions %>
	<%= f.text_area :booking_instructions, 'data-provider': :summernote, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :payment_instructions %>
	<%= f.text_area :payment_instructions, 'data-provider': :summernote, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :booking_button_text %>
	<%= f.text_field :booking_button_text, :class => "form-control" %>
</div>

