<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Locale</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<% @rental.rental_booking_instructions.each do |rental_booking_instruction| %>
    <tr>
      <td><%= link_to raw(rental_booking_instruction.name), admin_rental_booking_instruction_path(rental_booking_instruction) %></td>
      <td><%= link_to raw(rental_booking_instruction.locale), admin_rental_booking_instruction_path(rental_booking_instruction) %></td>
      <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_rental_booking_instruction_path(rental_booking_instruction) %></td>
      <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_rental_booking_instruction_path(rental_booking_instruction) %></td>
      <td><%= link_to raw('<i class="icon-trash"></i>'), admin_rental_booking_instruction_path(rental_booking_instruction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
		<%= raw('<tr><td colspan="5">No items for this list</td></tr>') unless @rental.rental_booking_instructions.count > 0 %>
	</tbody>
</table>
<%= link_to new_admin_rental_booking_instruction_path(rental_id: @rental) do %>
	<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Rental Booking Instruction</button>
<% end %>
