<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @site.name %></title>
  <meta name="description" content="<%= @site.description ? @site.description : @page.description %>">
	<meta name="google" value="notranslate">
	<%= favicon_link_tag sanitize("#{@site.favicon}_favicon.png") %>
	<%= stylesheet_link_tag "application", media: "all" %>
<% if @page && @page.theme %>
	<link rel="stylesheet" media="all" href="<%= @page.theme.asset_url %>.css" />

	<link rel="stylesheet" media="all" href="<%= @page.theme.asset_url %>_workspace.css" />

<% end %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<% if @page %>
 	<div class="<%= @page.theme ? @page.theme.css_class : '' %>">	
	<% if @page.containers.any? %>
		
		<% @page.containers.each do |container| %>
	
			<% if container.container_type == 'navigation' %>
		<%= render partial: 'layouts/navigation', locals: { navigation: container.navigation } %>
			<% else %>
		<div class="<%= container.css_classes %>">
				<% if container.container_rows.any? %>
					<% container.container_rows.each do |row| %>	
			<div class="<%= row.css_classes ? row.css_classes : 'row' %>">
	
						<% if row.row_columns.any? %>	
							<% row.row_columns.each do |col| %>
				<div class=<%= col.css_classes ? col.css_classes : 'col' %>>
								<% if col.content_type == 'content_group' && col.content %>
					<%= render partial: 'content_groups/show', locals: { content_group: col.content } %>
								<% elsif col.content_type == 'image_group' && col.image_group %>
					<%= render partial: 'image_groups/show', locals: { content_group: col.image_group } %>
								<% elsif col.nav_type == 'navigation' && col.navigation %>
					<%= render partial: 'layouts/navigation', locals: { navigation: col.navigation } %>
								<% else %>
									&nbsp;
								<% end %>
				</div>				
							<% end %>	
						<% end %>
			</div>
					<% end %>
				<% end %>
		</div>
			<% end %>
		<% end %>
	
	<% end %>	
	</div>

<% else %>
	<%= render partial: 'errors/404' %>
<% end %>
</body>
</html>



