<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h2>Content Items</h2>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Position</th>
					<th>Name</th>
					<th>Type</th>
					<th>Content</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="content_group_items" data-sort-items-url="<%= sort_admin_content_group_items_url %>">
<% @content_group.content_group_items.each do |content_group_item| %>
        <tr class="content_group_items" id="content_group_item_<%= content_group_item.id %>">
        	<td><span class="handle"><i class="icon-up-hand"></i></span></td>	
          <td><%= link_to content_group_item.name, admin_content_group_item_path(content_group_item) %></td>
          <td><%= link_to content_group_item.content_type, admin_content_group_item_path(content_group_item) %></td>
          <td>
  <% if content_group_item.content_type == 'medium' %>
          	<%= image_tag(content_group_item.medium.image.image.variant(resize: "100x100")) %>
  <% elsif content_group_item.content_type == 'list_group' %>
          	<%= content_group_item.list_group.name %>
  <% elsif content_group_item.content_type == 'carousel' %>
  					<%= image_tag(content_group_item.carousel.carousel_slides.first.image.image.variant(resize: "100x100")) %>
  <% elsif content_group_item.content_type == 'image' %>
  					<%= image_tag(content_group_item.image.image.variant(resize: "100x100")) %>
  <% elsif content_group_item.content_type == 'image_group' %>
  					<%= content_group_item.image_group.name %>
  <% else %>
  					<%= raw(truncate_with_tags(content_group_item.body)) %>
  <% end %>
        	</td>  
          <td><%= link_to raw('<i class="icon-zoom-in"></i>'), admin_content_group_item_path(content_group_item) %></td>
          <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_admin_content_group_item_path(content_group_item) %></td>
          <td><%= link_to raw('<i class="icon-trash"></i>'), admin_content_group_item_path(content_group_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
<% end %>
				<%= raw('<tr><td colspan="7">No content has been defined.</td></tr>') if @content_group.content_group_items.count == 0 %>
			</tbody>
		</table>
		<%= link_to new_admin_content_group_item_path(content_id: @content_group.id) do %>
			<button type="button" class="btn  btn-outline-secondary btn-med"><i class="icon-plus"></i> New Content Item</button>
		<% end %>
	</div>
	<div class="col-md-2">&nbsp;</div>
</div>
