<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1>Item: <%= @content_item.name %></h1>
		</div>
		<%= object_table(@content_item) %>
		<%= link_to edit_admin_content_group_item_path(@content_item) do %>
			<button type="submit" class="btn  btn-outline-secondary"><i class="icon-pencil"></i> Edit</button>
		<% end %>
		&nbsp;&nbsp;<%= link_to admin_content_group_item_path(@content_item), method: :delete, data: { confirm: "Delete content_group_item?" } do %>
			<button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= operations_menu(@content_item,[@content_item.content_group]) %>
	</div>
</div>
